#d_content{
    width:inherit;
    height: 630px;
    border: inherit;
}

#d_top{
    width:inherit;
    height: 60px;
    border: inherit;
}

#d_top_left{
    padding: 10px 0 10px 0;
    border-bottom: solid 1px #ccc;
    float: left;
    margin: 20px 0 0 40px;
}

#d_top_right{
    padding: 10px; 
    float:right;
    margin: 20px 600px 0 0;
}

#d_bottom{
    width:inherit;
    height: 550px;
    border: inherit;
}

#d_left{
    width:200px;
    height: 550px;
    border: inherit;
    float: left;
    font-size: 14px;
    margin-left: 40px;
}

#d_left_top{
    width:inherit;
    border-bottom: 1px solid #ccc;
    padding:5px 0 5px 0;
}

#d_left_top div{
    padding: 10px;
    //border: inherit;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

#d_left_top div:hover{
    background-color: #FFF2E9;
}

#d_left_center_top{
    width:inherit;
    border-bottom: 1px solid #ccc;
    padding:5px 0 5px 0;
}

#d_left_center_top div{
    padding: 10px;
    //border-bottom: 1px solid #000;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

#d_left_center_top div:hover{
    background-color: #FFF2E9;
}

#d_left_center_bottom{
    width:inherit;
    border-bottom: 1px solid #ccc;
    padding:5px 0 5px 0;
}

#d_left_center_bottom div{
    padding: 10px;
    //border: inherit;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

#d_left_center_bottom div:hover{
    background-color: #FFF2E9;
}

#d_left_bottom{
    width:inherit;
    border-bottom: 1px solid #ccc;
    padding:5px 0 5px 0;
}

#d_left_bottom div{
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

#d_left_bottom div:hover{
    background-color: #FFF2E9;
}

#d_right{
    width:720px;
    height: 550px;
    border: inherit;
    float: right;
    //padding: 10px;
}

#d_adresse{
    width: inherit;
    height: 550px;
    border:inherit;
}

#d_top_adresselivraison{
    width: 345px;
    height: 250px;
    border: solid 1px #ccc;
}

#d_top_adresselivraison_top{
    padding: 10px;
    //border:inherit;
}

#d_top_adresselivraison_center{
    padding: 10px;
    height: 130px;
    //border:inherit;
}

#d_top_adresselivraison_center table{
    height: 100px;
}

#d_top_adresselivraison_bottom{
    height: 50px;
    //border:inherit;
}

#d_top_adresselivraison_bottom div{
    display: inline-block;
    margin: 10px 0 0 10px;
    padding: 10px;
    background-color:#FFF2E9; 
    cursor: pointer;
    border-radius: 5px;
}

#d_bottom_adressefacturation{
    width: 345px;
    height: 250px;
    border: solid 1px #ccc;
    margin-top: 10px;
}


#d_bottom_adressefacturation_top{
    padding: 10px;
    //border:inherit;
}

#d_bottom_adressefacturation_center{
    padding: 10px;
    height: 130px;
    //border:inherit;
}

#d_bottom_adressefacturation_center table{
    height: 100px;
}

#d_bottom_adressefacturation_bottom{
    height: 50px;
    //border:inherit;
}

#d_bottom_adressefacturation_bottom div{
    display: inline-block;
    margin: 10px 0 0 10px;
    padding: 10px;
    background-color:#FFF2E9; 
    cursor: pointer;
    border-radius: 5px;
}

#modifierAdresse{
    width:370px; 
    height:180px;
    border: inherit;
    position: absolute;
    left: 450px;
    top:250px;
    display: none;
    background-color: #fff;
    border:1px solid #ccc;
    padding: 10px;
}

#modifierAdresse h4{
    margin-bottom: 10px;
}

#modifierAdresse table{
    height: 110px;
}

#modifierAdresse table tr td label{
    float: right;
}

#modifierAdresse table tr td label span{
    color:#fb565a;
}

#modifierAdresse table tr td select{
    margin-left: 10px; 
}

#modifierAdresse table tr td input{
    width:200px;
    margin-left: 10px; 
}

#modifierAdresse div{
    padding: 10px;
    float: right;
    background-color:#FFF2E9; 
    margin: 10px 20px 0 0;
    border-radius: 5px;
}

#modifierAdresse p{
    position: absolute;
    top:5px;
    right: 5px;
    background-color: #fb565a;
    color: #fff;
    padding: 0 5px;
}

